@page "/about"

<div class="container">
    <div class="row">
        <div class="col-md-15 text-center" >
            <div style="text-align: center;">
                <h1 style="display: inline-block; vertical-align: middle;">Meet Your Developer</h1>
                <img src="/images/developer.png" alt="devimg" style="height:200px;width:200px; display: inline-block; vertical-align: middle;" />
            </div>
            <br />
            <br />
            <h2>Hi 👋, This is Akshay!</h2>
            <img src="/Images/Developer.jpg" alt="Dev Image" class="img-fluid" style="height:400px;width:400px;" />
            <br />
            <br />
            <p>
                I am skilled in C#, Win-forms, Web API, ASP.NET Core MVC, Blazor and SQL. Interested in in-depth learning of .NET Full Stack.
            </p>
        </div>
        
    </div>
</div>
