@page "/how-it-works"

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <img src="/Images/hand.png" alt="Fancy Image" class="img-fluid" style="height:200px; width:200px; margin-bottom: 500px;margin-top:60px;" />
            <img src="/Images/loan.png" alt="Fancy Image" class="img-fluid" style="height:200px; width:200px; margin-left: 10px;" />
        </div>
        <div class="col-md-7">
            <h2>How the Mortgage Calculator Works</h2>
            <p>
                Our mortgage calculator is a powerful tool designed to help you estimate your monthly payments. Simply input your loan amount, interest rate, loan term and the calculator will provide you with your monthly payment based on this information.
            </p>
            <p>
                You can use the calculator to compare different mortgage options by adjusting the parameters. It will show you how changes in loan amount, interest rate, or loan term affect your monthly payment and total interest paid. Also, you can generate the result report and can get it as PDF.
            </p>
            <p>
                Understanding your mortgage payments is crucial for budgeting and financial planning. Our calculator provides you with a clear breakdown of your monthly payment, including principal and interest. Make informed decisions about your home financing.
            </p>
            <p>
                <!-- Make the formula image smaller -->
                <h5>Formula</h5>
                <img src="/Images/Formula.jpg" alt="Formula Image" class="img-fluid" style="height:150px; width:300px; margin-left:150px;"/>
            </p>
        </div>
    </div>
</div>

